<h1>All Events</h1>

<p><%= link_to "Dodaj novi event", new_event_path %></p>

<% @events.each do |event| %>
  <div>
    <h4><%= link_to event.title, event_path(event) %></h4>
    <p><%= event.description %></p>
    <p><%= event.start_date.strftime("%e %b %Y %H:%M:%S%p") %></p>
    <p><%= event.end_date.strftime("%e %b %Y %H:%M:%S%p") %></p>
    <p><%= event.venue %>, <%= event.location %></p>
  </div>
<% end %>
