<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="#">EventsBoard</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link"><%= link_to "Home", events_path, class: "nav-link" %></a>
      </li>

      <% admins_only do %>
      <li class="<%="active" if current_page?("/admin")%>">
          <a class="nav-link"><%= link_to "Admin", admin_root_path, class: "nav-link" %></a>
      </li>
      <% end %>


    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="d-flex justify-content-end">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="<%="active" if current_page?("/users/edit")%>">
              <a class="nav-link"><%= link_to current_user.username, edit_user_registration_path, class: "nav-link" %></a>
          </li>
          <li class="<%="active" if current_page?("/users/#{current_user.id}")%>">
              <a class="nav-link"><%= link_to "My Events", user_path(current_user), class: "nav-link" %></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
          </li>
        <% end %>

        <% unless user_signed_in? %>
          <li><a class="nav-link"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a></li>
          <li><a class="nav-link"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></a></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
</nav>
